auth0:
  domain: https://odyseja.eu.auth0.com
  clientId: 8TI8RllRK5wf5l1Rv85msCTOF0e88lZg

spring:
  thymeleaf:
    encoding: UTF-8
    prefix: classpath:/templates/
  mvc:
    static-path-pattern: /static/**
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: https://odyseja.eu.auth0.com/
  jpa:
    hibernate:
      ddl-auto: ${DDL_AUTO:update}
  application:
    name: odyseja
  #-------------------------------------------------------------------------------------------------
  # DATABASE
  #-------------------------------------------------------------------------------------------------
  datasource:
    # Postgres database
    type: com.zaxxer.hikari.HikariDataSource
    url: jdbc:postgresql://localhost:24889/odyseja
    username: odyseja
    password: odyseja
  sql:
    init:
      mode: never
server:
  port: 8081

clsi:
  base-url: http://grzybek.snet.ovh:3013
  compiler: lualatex
  timeout-sec: 60
  project-id: 1

#-------------------------------------------------------------------------------------------------
# ZSP Configuration
#-------------------------------------------------------------------------------------------------
zsp:
  sheet:
    id: ${ZSP_SHEET_ID:1s-1iyAMuGrVfBo31S0JomgIfFUzIu4Xf7dgvRDX3LjU}
