name: Build and push docker

on:
  push:
    branches: [ "master" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v2

      - name: Deploy app
        uses: appleboy/ssh-action@master
        with:
          host: 37.27.71.201
          username: ${{ secrets.DEPLOY_USERNAME }}
          key: ${{ secrets.DEPLOY_PRIVATE_KEY }}
          script: |
            cd Odysejapka
            git pull
            ./gradlew bootjar
            docker build -t odyseja-backend .
            docker build -t odyseja-ui odyseja-ui
            export POSTGRES_PASSWORD=${{ secrets.POSTGRES_PASSWORD }}
            export FRONTEND_URL='http://grzybek.snet.ovh:3000'
            export BACKEND_URL='http://grzybek.snet.ovh:8082'
            docker-compose -p odyseja -f deployment/docker-compose.yml up -d
            docker image prune --filter "dangling=true"

